
extends /templates/base.pug

block variables
  - var template = 'approach'

block content
  .approach
    .approach__content
      .page__tile
        h1.page__title__text Page: Approach
      .approach__gallery
      
      
