
extends /templates/base.pug

block variables
  - var template = 'contact'

block content
  .contact
    .contact__content
      .page__tile
        h1.page__title__text Page: Contact
      .contact__gallery
      
      
