
extends /templates/base.pug

block variables
  - var template = 'home'

block content
  .home
    .home__content
      .page__tile
        h1.page__title__text Page: Home

      h1.home__gallery__title My Works
      
      .home__gallery
        each project in projects
          a.project__link(href=project.route)
            span.project__link__text=project.title
